.container-auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

#login-header {
  font-size: 0.75rem;
  color: white;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.02rem;
  margin-left: 0.5%;
}

.submit {
  margin-top: 17.5px;
  letter-spacing: 0.05rem;
  border: solid white;
  border-width: 1px;
  background-color: #005b69;
  width: 270px;
  height: 42.5px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.form {
    border: none;
    width: 252.5px;
    height: 37.5px;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding-left: 17.5px;
    color: #005b69;
  }