.container {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Open Sans', sans-serif;
  }

.section-left { 
    width: 45%;
    /* background-color: white; */
}

.menu {
    line-height: 1.75rem;
    margin-left: 80%;
    color: white;
    margin-bottom: 44.25%;
}

.menu p {
    cursor: pointer;
    font-size: 0.85rem;
}

.active {
    font-weight: 700;
}

.menu h2 {
    font-size: 1.25rem;
}

.section-right {
    width: 55%;
    margin-left: 5%;
}