.App {
  margin-bottom: 2.5%;
}

.home-page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

#login-header {
  font-size: 0.75rem;
  color: white;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.02rem;
  margin-left: 0.5%;
}
